:root {
  --bg-blaze-orange: #f66200;
  --bg-salem: #808080;
  --bg-alice-blue: #7b9fbd;
  --bg-nobel: #b6b2b2;
  --bg-alto: #dddddd;
  --bg-swiss-coffe: #dad4d4;
  --bg-del-rio: #a58c8c;
  --bg-hover-golden: #c94242;
  --c-Gallerysolid: #efefef;
  --ft-size-14: 14px;
}

body {
  background-color: var(--bg-alice-blue);
}

table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  background-color: var(--bg-nobel);
}

table td {
  border: 1px solid var(--bg-alto);
  padding: 8px;
}

table tr:nth-child(even) {
  background-color: var(--bg-swiss-coffe);
}

table tr:hover {
  background-color: var(--bg-del-rio);
}

.container {
  max-width: 900px;
  margin: auto;
  height: 400px;
  margin-top: 20px;
  overflow-y: scroll;
}

.container__album > tr {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: var(--bg-salem);
}

.container-btn {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
  gap: 20px;
}

.container-btn > button {
  padding: 10px;
  background-color: var(--bg-blaze-orange);
  border: none;
  color: var(--c-Gallerysolid);
  font-size: var(--ft-size-14);
  border-radius: 5px;
  margin-top: 10px;
}

.container-btn > button:hover {
  background-color: var(--bg-hover-golden);
}

button {
  cursor: pointer;
}
