.inte__AutoComplete--Wrapper {
  max-width: 350px;
  margin: 0 auto;
  margin-top: 10px;
}

.inte__AutoComplete--Wrapper > div {
  display: flex;
  align-items: center;
  border: 0.1rem solid var(--inte-G50);
  padding: 5px 8px;
  border-radius: 6px;
}

.inte__AutoComplete--Wrapper > div:hover {
  border: 0.1rem solid var(--inte-P900);
}

.inte__AutoComplete--cut-btn {
  width: 20px;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.inte__AutoComplete--input {
  width: 100%;
  border: none;
  outline: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

.inte__AutoComplete--list {
  padding: 10px;
  box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
  max-height: 250px;
  overflow: auto;
}

.inte__Autocomplete--nodata {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
}

.inte__Autocomplete--nodata > li {
  word-wrap: break-word;
  padding: 5px;
  font-size: 14px;
  color: var(--inte-G450)!important;
}

.inte__AutoComplete--list-item {
  display: flex;
  cursor: pointer;
  padding: 10px;
  position: relative;
  border-radius: 8px;
}

span.inte__Autocomplete-popover {
  position: absolute;
  background: silver;
  width: 150px;
  right: -162px;
  top: 0;
}

.inte__AutoComplete--list-item:hover {
  background-color: var(--inte-G30);
}

.cross-icon {
  background: silver;
  border-radius: 50%;
  color: white;
  height: 18px;
  width: 18px;
}
