:root {
  --bg-violet: #431bbc;
  --bg-white: #ffffff;
  --c-white: #ffffff;
}

.popover__container-btn {
  padding: 10px;
  background-color: var(--bg-violet);
  border: none;
  cursor: pointer;
  color: var(--c-white);
  border-radius: 5px;
}

.popover__container-popover {
  width: 120px;
  min-height: 110px;
  background-color: var(--bg-white);
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px 0px,
    rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  float: right;
  position: fixed;
  z-index: 99;
  border-radius: 5px;
  font-size: var(ft-size-14);
  padding: 10px;
}
