.filter_main_div{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 2vw;
    padding-right: 2vw;
    padding-top: 2%;
}
.filter_subdiv{
    display: flex;
    flex-direction: row;
    padding-left: 2%;
    gap: 2%;
    padding-top: 2%;
}