.main-container {
  margin:12% 12% 0% 25%
}

.signin-heading {
  padding-top: 15px;
  padding-bottom: 2px;
  font-weight: bolder;
}

h5 {
  font-weight: bold;
  padding-bottom: 25px;
}

.alert-card {
  padding-bottom: 20px;
}

.forgot-password-div {
  padding-top: 20px;
  padding-bottom: 20px;
}

.signin-btn {
  padding-bottom: 30px;
  border-radius: 200px;
}

.continue-with-div {
  padding-bottom: 30px;
}

.icons-div{
  margin-bottom: 30px;
}

.join-para {
  color: white;
}

.setting-btn-div {
  position: absolute;
  position: fixed;
  top: 210px;
  right: 0;
}

.bg-img{
  position: relative;
  min-height: 120vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1E293B;
}

.bg-img h1 {
  color: #ffffff;
  font-weight: bold;
  font-size: 45px;
  padding-left: 40px;
}

.bg-img p {
  padding-left: 40px;
  padding-top: 10px;
  padding-bottom: 20px;
  color: #ffffff;
}

.bg-img svg:first-child {
  position: absolute;
}

.bg-img svg:nth-child(2) {
  position: absolute;
  top:0;
  right: 0;
}

.App-logo {
  pointer-events: none;
}

.community-img-div {
  padding-left: 25px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 5s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}