.inte__AutoComplete--Wrapper {
  max-width: 350px;
  margin: 0 auto;
  margin-top: 10px;
}

.inte__AutoComplete--helptext {
  color: #8c9098;
}

.inte__AutoComplete--input-div {
  display: flex;
  align-items: center;
  border: 0.1rem solid var(--inte-G50);
  padding: 5px 8px;
  border-radius: 6px;
}

.active {
  border: 0.1rem solid var(--inte-P900);
}

.inte__AutoComplete--cut-btn {
  width: 20px;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.inte__AutoComplete--input {
  width: 100%;
  border: none;
  outline: none;
  padding: 5px;
}

.inte__AutoComplete--input[type="text"] {
  font-size: 16px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

.inte__AutoComplete--list {
  padding: 10px;
  box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
  max-height: 250px;
  overflow: auto;
  z-index: 9;
}

.inte__Autocomplete--nodata {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
}

.inte__Autocomplete--nodata > li {
  word-wrap: break-word;
  padding: 5px;
  font-size: 14px;
  color: var(--inte-G450) !important;
}

.inte__AutoComplete--list-item {
  display: flex;
  cursor: pointer;
  padding: 10px;
  border-radius: 8px;
  /* background-color: red; */
  /* margin-bottom: 10px; */
}

.inte__Autocomplete-popover {
  max-width: 200px;
  min-height: 100px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  position: fixed;
  z-index: 99;
  padding: 10px;
  border-radius: 10px;
}

.inte__AutoComplete--list-item:hover {
  background-color: var(--inte-G30);
}

.cross-icon {
  background: #8c9098;
  border-radius: 50%;
  color: white;
  height: 18px;
  width: 18px;
}
